*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
}
.header{
    padding: 20px;
    text-align: center;
    background-color: #92f9f6;
}
.nav{
    background: url(images/fondo.png);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.container{
    background-color: #f4b2f7;
    padding: 20px;
}
.container .elements{
    background-color: #f991fe;
    padding: 30px;
}
.footer{
    background: url(images/fondo.png);
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    margin: 0;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
a[href^='mailto']::before {
    content: '📧 ';
}
.nav ul li:hover{
  transition: 250ms;
  background-color: blue;
} 
.socialmedia img{
    height: 60px;
}
.container p, li{
    text-align: justify;
    list-style: circle;
}
.crypto img{
    width: 30%;
    margin: 20px;
}
.socialmedia, .socialmedia p{
    text-align: center;
}
.footer{
    color: aliceblue;
    padding: 20px;
}
.botones{
    background-color: deeppink;
    margin: 20px;
    width: 20%;
    text-align: center;
    padding: 10px;
}
.enlaces p{
    text-align: center;
}
.botones:hover{
    background-color: pink;
}

@media (max-width: 900px){
    .column{
        width: 50%;
    }
}